@base: #443953;
@secondary: #c0cfff;
@font: #202022;
@pinkFont: #dd8fff;

.logo {
	display: inline-block;
	width: 200px;
	margin-top: 7px;
	opacity: .72;
}

.nav-bar {
	height: 65px;
	background-color: @secondary;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.nav-list {
	list-style-type: none;
	display: inline-block;
	float: right;
	height: 100%;
	margin: 0;
	padding: 0;
}

.nav-item {
	float: right;
	margin-right: 25px;
	margin-top: 22px;
	color: @font;
	font-size: 1.15em;
	font-weight: bold;
	
	a {
		text-decoration: none;

		&:visited {
			color: @font;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}