@import './colors.less';

.profile-info-container {
	width: 20%;
	height: 400px;
	margin: 50px 0 0 12%;
	color: @lightGrey;
	display: inline-block;
}

.profile-image-wrapper {
	width: 80%;
	margin: 10px auto;

	img {
		width: 100%;
		border-radius: 5px;
	}
}

.name-info-container {
	box-sizing: border-box;
	margin-left: 7.5%;
	padding: 5px;
}

.display-name {
	margin-bottom: 10px;
}

.username {
	font-weight: lighter;
	font-size: 1.35em;
}

.profile-guide-info {
	width: 80%;
	margin: 15px auto;
	text-align: center;

	tr i {
		margin-top: 7px;
		font-size: 1em;
		opacity: .8;

		&:hover {
			opacity: 1;
		}
	}

	tr .fa-pencil {
		color: @paleBlue;
	}

	tr .fa-heart {
		color: #ff4040;
	}

	tr .fa-eye {
		color: #32cdb3;
	}
}

.guide-info-number {
	font-size: 1.8em;

	a {
		color: @lightGrey;
		text-decoration: none;

		&:visited {
			color: @lightGrey;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}